@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global light/dark defaults */
@layer base {
  html {
    @apply bg-white text-slate-900 transition-colors duration-200;
  }
  html.dark {
    @apply bg-slate-900 text-slate-200;
  }

  body {
    @apply min-h-screen bg-inherit text-inherit;
  }
}
